/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*------------------------------------Main code  INDEX--------------------------------------------*/
.wrapper
{
    height: 660px;
    width: 1350px;
    /*background-color: red;*/
}
header
{
    height: 130px;
    width: 1364px;
    background-color: black;
    padding: 10px;
}
section
{
    height: 550px;
    width: 1364px;
    background-color: grey;
}
footer
{
    height: 80px;
    width: 1364px;
    background-color: black;
}
.logo
{
    float: left;
    padding-left: 20px;
}
.logo img
{
    padding-left: 80px;
}
li a
{
    color:white;
}
/*nav
{
    float: right;
    word-spacing: 30px;
    padding: 20px;
}
nav li
{
    display: inline-block;
    line-height: 50px;
}*/
section .sec-img
{
    height: 550px;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic1.jpg");
}
.box
{
    height: 300px;
    width: 450;
    background-color: #5146a6;
    margin: 70px auto;
    opacity: .6;
    color: white;
}
/*-------------------------------------------st-login-----------------------------*/

.log-img
{
    height: 600px;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic3\ \(2\).jpg");
}
.box1
{
    height: 450px;
    width: 450px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
form.Login
{
    margin: 70px auto;
}
input
{
    height: 25px;
    width: 300px;
}
/*---------------------------------------------registration----------------------------*/
.Reg-img
{
    height: 600px;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic4.jpg");
}
.box2
{
    height: 511px;
    width: 450px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
/*----------------------------------------------------Insert Book-----------------*/
.Ins-img
{
    height: 600px;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic5\ \(1\).jpg");
}
.box3
{
    height: 511px;
    width: 450px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
/*----------------------------------------------------Delete Book-------------------*/
.Del-img
{
    height:145vh;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic6\ \(1\).jpg");
}
.box4
{
    height: 735px;
    width: 515px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
/*-----------------------------------------------------Search.php------------------*/
.Sea-img
{
    height:145vh;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic7.jpg");
}
.box5
{
    height: 735px;
    width: 515px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
/*-----------------------------Feedback---------------------*/
.feedback-section
{
    height:145vh;
    margin-top: 0px;
    background-image: url("images/library\ management\ pic8.jpg");
}
.box-feedback
{
    height: 735px;
    width: 515px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}